.header {
  width: 100vw;

  & h1 {
    font-size: 24px;
  }

  &__controls {
    background-color: #30475e;
    height: 75px;
    color: white;

    &-item {
      height: 75px;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      position: relative;

      p {
        font-size: 16px;
      }

      .arrow {
        box-sizing: initial;
        border-top: 12px solid white;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        margin-left: 8px;
      }

      &:hover .header__dropdown {
        display: flex;
      }
    }

    div.button {
      background-color: #e7dec8;
      color: #30475e;
      padding: 8px 16px;
      border-radius: 10px;
      display: flex;
      margin-right: 16px;
      font-size: 16px;
      font-weight: 600;

      &.hidden {
        display: none;
      }
    }
  }

  &__dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    width: max-content;
    z-index: 2;
    top: 70px;
    right: 16px;
    padding: 8px;
    background-color: #30475e;
    border-radius: 5px;

    & p {
      padding: 8px;
      font-size: 14px;

      &:hover {
        color: #e7dec8;
      }
    }
  }

  &__legend {
    &-item {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
    }

    & p {
      font-weight: bold;
    }

    & .node {
      display: inline-block;
      position: initial;
      width: 25px;
      height: 25px;
      margin-right: 16px;
    }

    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }
}
