.node {
  position: absolute;
  border: 0.5px solid #c7d1db;
  background-color: #fff;
  float: left;
  font-size: 4px;
  transition: background-color 0.3s, border-color 0.3s;

  &--wall {
    background-color: black;
    border: 0.5px solid black;
  }
  &--open {
    background-color: #e7dec8;
    border: 0.5px solid #e7dec8;
    color: #fff;
  }

  &--closed {
    background-color: #cbaf87;
    border: 0.5px solid #cbaf87;
    color: #fff;
  }

  &--start {
    background: url(../img/start.png) center no-repeat, #687c90;
    border: 0.5px solid #687c90;
    color: #fff;
  }

  &--end {
    background: url(../img/end.png) center no-repeat, #687c90;
    border: 0.5px solid #687c90;
    color: #fff;
  }

  &--path {
    background-color: #b58066;
    border: 0.5px solid #b58066;
    color: #fff;
  }
}
